{% extends 'base.html' %}

{% block title %}Add a Word{% endblock %}

{% block heading %}Add a Word{% endblock %}

{% block main %}
     <form class="dataForm" method="post">
      <div class="form-group">
            <div class="form-label"><label for="maori">Maori:</label></div>
            <div class="form-element"><input type="text" name="maori" id="maori" required></div>
        </div>

        <div class="form-group">
            <div class="form-label"><label for="english">English:</label></div>
            <div class="form-element"><input type="text" name="english" id="english" required></div>
        </div>

        <div class="form-group">
            <div class="form-label"><label for="category">Category:</label></div>
            <div class="form-element"><input type="text" name="category" id="category" required></div>
        </div>

        <div class="form-group">
            <div class="form-label"><label for="level">Level:</label></div>
            <div class="form-element">
                <select style="width: 100%; border-radius: 10px; padding: 0.3rem; margin-bottom: 10px;">
                    {% for i in range(1, 11) %}
                        <option value="{{ i }}">Level {{ i }}</option>
                    {% endfor %}
                </select>
            </div>


        <!--
                <div class="form-element"><input type="radio" name="level" id="level" value=1 required>1 </div>
                <div class="form-element"><input type="radio" name="level" id="level" value=2 required>2 </div>
                <div class="form-element"><input type="radio" name="level" id="level" value=3 required>3 </div>
                <div class="form-element"><input type="radio" name="level" id="level" value=4 required>4 </div>
                <div class="form-element"><input type="radio" name="level" id="level" value=5 required>5 </div>
                <div class="form-element"><input type="radio" name="level" id="level" value=6 required>6 </div>
                <div class="form-element"><input type="radio" name="level" id="level" value=7 required>7 </div>
                <div class="form-element"><input type="radio" name="level" id="level" value=8 required>8 </div>
                <div class="form-element"><input type="radio" name="level" id="level" value=9 required>9 </div>
                <div class="form-element"><input type="radio" name="level" id="level" value=10 required>10 </div>
                -->
        </div>

        <div class="form-group">
            <div class="form-label"><label for="definition">Definition:</label></div>
            <div class="form-element"><input type="text" name="definition" id="definition" required></div>
        </div>

        <div class="form-group">
            <div></div>
            <div class="form-element"><input type="reset"></div>
        </div>

        <div class="form-group">
            <div></div>
            <div class="form-element"><input type="submit"></div>
        </div>
    </form>

{% endblock %}