{% extends 'base.html' %} {# Tells the website that this is an extension of the base.html #}

{% block title %}Add a Word{% endblock %} {# The title #}

{% block heading %}Add a Word{% endblock %} {# The heading #}

{% block main %} {# The main block #}
     <form class="dataForm" method="post"> {# The form #}
        <div class="form-group">
            <div class="form-label"><label for="maori">Maori:</label></div> {# Maori field #}
            <div class="form-element"><input type="text" name="maori" id="maori" required></div>
        </div>

        <div class="form-group">
            <div class="form-label"><label for="english">English:</label></div> {# English field #}
            <div class="form-element"><input type="text" name="english" id="english" required></div>
        </div>

        <div class="form-group"> {# Category Dropdown( lets youu select the category #}
            <div class="form-label"><label for="category">Category:</label></div>
            <div class="form-element">
                <select name='category' id='category' style="width: 100%; border-radius: 10px; padding: 0.3rem; margin-bottom: 10px;">
                    {% for  category in categories %}
                        <option value="{{ category }}"> {{ categories[category]|title }}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <div class="form-group">{# The Level Dropdown (lets you select the level) #}
            <div class="form-label"><label for="level">Level:</label></div>
            <div class="form-element">
                <select name='level' id='level' style="width: 100%; border-radius: 10px; padding: 0.3rem; margin-bottom: 10px;">
                    {% for i in range(1, 11) %}
                        <option value="{{ i }}">Level {{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group"> {#  lets the user set a definition for the new word #}
            <div class="form-label"><label for="definition">Definition:</label></div>
            <div class="form-element"><input type="text" name="definition" id="definition" required></div>
        </div>

        <div class="form-group">
            <div></div> {# The reset button #}
            <div class="form-element"><input type="reset"></div>
        </div>

        <div class="form-group">
            <div></div> {# The Submit button #}
            <div class="form-element"><input type="submit"></div>
        </div>
    </form>

{% endblock %}