{% extends 'base.html' %} {#  Tells the website that this is an extension of the base.html #}

{% block title %}Edit a word{% endblock %} {# The title #}

{% block heading %}Edit a word{% endblock %} {# The heading #}

{% block main %} {#  The main block #}
<form class="dataForm" method="post"> {# The form #}
      <div class="form-group">
            <div class="form-label"><label for="maori">Maori:</label></div> {# Allows you to set the new moari value #}
            <div class="form-element"><input type="text" name="maori" id="maori" value="{{ word_list[0][0] }}" ></div>
        </div>

        <div class="form-group">
            <div class="form-label"><label for="english">English:</label></div> {# Allows you to set the new english value #}
            <div class="form-element"><input type="text" name="english" id="english" value="{{ word_list[0][1] }}"></div>
        </div>

        <div class="form-group"> {# Allows you to set the new category #}
            <div class="form-label"> <label for="category">Category:</label></div>
            <div class="form-element">
                <select name='category' id='category' style="width: 100%; border-radius: 10px; padding: 0.3rem; margin-bottom: 10px;">
                    {% for  category in categories %}
                        <option value="{{ category }}" {% if category==word_list[0][2] %} selected="selected" {% endif %} > {{ categories[category]|title }}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <div class="form-group"> {# Allows you to set the new level #}
            <div class="form-label"><label for="level">Level:</label></div>
            <div class="form-element">
                <select name='level' id='level' style="width: 100%; border-radius: 10px; padding: 0.3rem; margin-bottom: 10px;">
                    {% for i in range(1, 11) %}
                        <option value="{{ i }}" {% if i==word_list[0][4] %} selected="selected" {% endif %} >Level {{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="form-label"><label for="definition">Definition:</label></div> {#  Allows you to set the new definiton #}
            <div class="form-element"><input type="text" name="definition" id="definition" value="{{ word_list[0][3] }}"></div>
        </div>

        <div class="form-group">
            <div></div>{# The reset button #}
            <div class="form-element"><input type="reset"></div>
        </div>

        <div class="form-group">
            <div></div> {# The submit button #}
            <div class="form-element"><input type="submit"></div>
        </div>
    </form>

{% endblock %}