{% extends 'base.html' %}

{% block title %} Maori Words {% endblock %}

{% block heading %}Maori Words{% endblock %}

{% block main %}
    {% for dictionary_value in dictionary_values %}
        <div class="word-box">
            <h3>{{ dictionary_value[0] }}</h3>
            <p>{{ dictionary_value[1] }}</p>
            <p><strong>Category:</strong>{{ dictionary_value[2] }}</p>
            <p><strong>Level</strong>{{ dictionary_value[3] }}</p>
            <img src="static/images/{{ dictionary_value[5] }}.png">
        </div>
    {% endfor %}
{% endblock %}